body {
  margin: 0;
  padding: 0;
  /* background-image: url('https://images.pexels.com/photos/994605/pexels-photo-994605.jpeg');  */
  /* Replace with the path to your image */
  background-size: cover;
  background-position: center;
  font-family: 'Arial', sans-serif;
}
.main{
    height:1500px;
    margin-top:80px;
}
.profile{
    height: 350px;
    border:2px solid black;
}
.profile-img.profile-img img{
    
    
  width: 300px;
  margin-left: 51px;
  margin-top: -6px;
  height: 291px;
   
  }
.sign img{
    
    
    width: 300px;
    margin-left: 51px;
    height: 50px;
    text-align: center;
       
      border: 2px solid black;
       
   
  }
  .introduction{
    color: black;
    
    height: 243px;
    width: 519px;
    margin-left: 498px;
    margin-top: -248px;
    text-align: center;
  }
  .main-info hr { 
    display: block;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    margin-left: auto;
    margin-right: auto;
    border-style: inset;
    border-width: 1px;
    color:black;
  } 
  .college{
    height:450px;
    border:2px solid black;
  }
  .college-img img{
         
    width: 400px;
    margin-left: 50px;
    margin-top: 11px;
  }
  .college h1{
    color: black;
    margin-left: 153px;
    margin-top: 10px;
    
  }
  .college h4{
    color: black;
    margin-left: 83px;
    margin-top: 10px;
    
  }
.collegeBio{
    color: black;
   
    height: 370px;
    width: 600px;
    margin-left: 498px;
    margin-top: -369px;
    text-align: center;
}
.school12{
    height:400px;
    border:2px solid black;
}

.schoolimg img{
    width: 400px;
    margin-left: 50px;
    margin-top: 11px;
}
.schoolimg10 img{
  width: 400px;
  margin-left: 50px;
  margin-top: 11px;
  height: 177px;
}
.schoolimg10 {
  border: 2px solid black;
}
.schoolBio12{
    color: black;
     
    height: 221px;
    width: 600px;
    margin-left: 498px;
    margin-top: -265px;
    text-align: center;
}
.schoolBio10{
  color: black;
  
  height: 100px;
  width: 400px;
  margin-left: 572px;
  margin-top: -194px;
  text-align: center;
}
