 
  body {
    margin: 0;
    padding: 0;
     
    background-size: cover;
    background-position: center;
    font-family: 'Arial', sans-serif;
  }
  .logo {
    text-align: center;
    padding: 5px;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
    background: linear-gradient(to right, #9c97f1, #1e2167);
    color: #fff;
    overflow: hidden;
    position: relative;
    animation: fadeInOut 1s infinite alternate; /* In and out animation */
  }
  
  .name {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 10px;
    letter-spacing: 2px;
  }
  
  .portfolio {
    font-size: 18px;
    letter-spacing: 1px;
  }
  
  /* In and out animation keyframes */
  @keyframes fadeInOut {
    to {
      opacity: 0;
    }
  }
  